@import 'fonts';
@import './variables.scss';
@import './reset.scss';
@import './navbar.scss';
@import './hero.scss';
@import './offers.scss';
@import './about.scss';
@import './location.scss';
@import './contact.scss';
@import './footer.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
}

main {
  position: relative;
}

.container {
  width: $container-lg;
  margin: 0 auto;
}

.btn {
  border: 0;
  border-radius: 8px;

  font-size: 1rem;
  font-weight: 500;

  cursor: pointer;
  transition: $transition;

  &:active {
    transform: scale(0.95);
  }
}



// Media Queries for 1224px
@media screen and (max-width: 1224px) {
  .container {
    width: $container-md;
  }
}


// Media Queries for 768px
@media screen and (max-width: 768px) {
  .container {
    width: $container-sm;
  }
}