$primary-bg-color: #A9252D;
$secondary-bg-color: #212026;

$input-bg-color: #EDEFFA;

$primary-tx-color: #FFFFFF;
$secondary-tx-color: #333333;
$placeholder-tx-color: #979797;

$btn-primary-tx-color: #E21B26;
$btn-secondary-tx-color: #FFFFFF;
$btn-primary-bg-color: #FFFFFF;
$btn-secondary-bg-color: #A9252D;
$btn-br-radius: 15px;

$primary-br-radius: 10px;

$transition: all 0.2s ease;

$container-lg: 72%; 
$container-md: 80%; 
$container-sm: 93%; 